<%- include('../layouts/header.ejs') %>

<div style="background-image: url('./assets/images/reff/1707235365238.png'); background-repeat: no-repeat; background-size: cover; height: 90vh;"
class="background-image bg-light bg-opacity-10 image-fluid">

</div>

<%- include('../layouts/footer.ejs') %>