<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Registration</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="icon" href="./assets/images/reff/logo-social.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <div style="background-image: url('./assets/images/background/240_F_538627760_ah9BPKQ0K4d9PnJ6O5UrsPATy1IaY3ne.jpg'); background-repeat: no-repeat; background-size: cover;"
        class="image-fluid">
        <div class="image-fluid container">
            <!-- Login Form -->
            <div style="background-image: url('./assets/images/reff/360_F_252462576_koy7njo9iYx6gUcM26IZcDUs9fMKIKJs.jpg'); background-repeat: no-repeat; background-size: cover; margin-top: 15vh; margin-bottom: 17vh;"
                class="card bg-light bg-opacity-10 image-fluid">
                <div class="card-body pt-4 pb-4">
                    <h1 class="card-title text-center pb-3 text-dark">Admin Login</h1>
                    <form action="/admin" method="post">
                        <div class="mb-3">
                            <p class="text-dark">Username</p>
                            <input type="email" name="email" class="form-control text-muted" required
                                placeholder="example@email.com" />
                            <div id="erroremail" class=" ms-2  text-danger">
                            </div>
                        </div>
                        <div class="mb-3">
                            <p class="text-dark">Password</p>
                            <input type="password" name="password" class="form-control text-muted" required
                                placeholder="Enter your password" />
                            <div id="errorpassword" class="ms-2 text-danger">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-50 rounded-pill mb-3 mt-3">Login</button>
                        </div>
                        <% if (typeof message !=='undefined' ) { %>
                            <div style="height: 30px; padding-top: 4px" class="text-danger text-center">
                                <h6>
                                    <%= message %>
                                </h6>
                            </div>
                            <% } %>
                    </form>
                </div>
            </div>
            <!-- End Login Form -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <%- include('../layouts/footer.ejs') %>